In [1]:
2**50

1125899906842624

In [2]:
30 >= 15

True

In [3]:
ansan_police = "경기경찰청 안산경찰서"

In [4]:
ansan_police

'경기경찰청 안산경찰서'

In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [10]:
import pandas as pd

In [15]:
crime = ["살인", "강도", "절도","사기","도박"]

In [16]:
crime

['살인', '강도', '절도', '사기', '도박']

In [17]:
type(crime)

list

In [20]:
crime_num = [54100,55000,56200,56900,57000]

In [21]:
crime_num

[54100, 55000, 56200, 56900, 57000]

In [22]:
type(crime_num)

list

In [24]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\haim\appdata\local\programs\python\python314\lib\site-packages (2.3.3)

In [25]:
import numpy as np

In [26]:
np.mean(crime_num)

np.float64(55840.0)

In [29]:
crime3 = { '살인':100, '강도': 550, '절도': 1200, '사기': 800, '도박': 750}

In [30]:
crime3

{'살인': 100, '강도': 550, '절도': 1200, '사기': 800, '도박': 750}

In [31]:
type(crime3)

dict

In [33]:
살인 = 7
if 살인 <= 5:
    print("Blue")
elif 살인 >= 20:
    print("코드 제로")
else:
    print("대기")

대기

In [37]:
살인 = 30
폭력 = 500
if 살인 <= 10 and 폭력 <= 200:
    print("blue")
elif 살인 >= 20 and 폭력 >= 400:
    print("코드제로")
else:
    print("대기")

코드제로

In [39]:
from pandas import DataFrame

In [40]:
crime = [{"살인":10, "강도":55, "절도":50},
         {"살인":5, "강도":65, "절도":70},
         {"살인":20, "강도":40, "절도":35}]

police = ["서울경찰청", "부산경찰청", "인천경찰청"]

df = DataFrame(data = crime, index = police)
print(df)

       살인  강도  절도
서울경찰청  10  55  50
부산경찰청   5  65  70
인천경찰청  20  40  35

In [41]:
df.describe()

              살인         강도         절도
count   3.000000   3.000000   3.000000
mean   11.666667  53.333333  51.666667
std     7.637626  12.583057  17.559423
min     5.000000  40.000000  35.000000
25%     7.500000  47.500000  42.500000
50%    10.000000  55.000000  50.000000
75%    15.000000  60.000000  60.000000
max    20.000000  65.000000  70.000000