In [ ]:
-1. 사칙연산 코딩하기

In [1]:
#덧셈
3+4

7

In [13]:
#뺄셈
10-5

5

In [2]:
#곱셈
100*2

200

In [14]:
#나눗셈
10/2

5.0

In [3]:
#거듭제곱
10**3

1000

In [15]:
#나눗셈에서 몫 값만
11//3

3

In [17]:
#나머지 값
10%3

1

In [18]:
2+3*8

26

In [19]:
11+7/2

14.5

In [20]:
12-(2*5+2)

0

In [21]:
#부등호
2 > 3

False

In [22]:
2 < 3

True

In [24]:
2 == 3

False

In [23]:
2 == 2

True

In [25]:
2 != 2

False

In [26]:
2 != 3

True

In [28]:
2 >= 3

False

In [29]:
2 <= 2

True

In [ ]:
-2. 변수명 설정하기

In [30]:
ABC = 5

In [32]:
ABC

5

In [ ]:
#변수로 사칙연산하기

In [31]:
a = 1
b = 5
c = 2

In [33]:
a + b + c

8

In [34]:
a + b - c

4

In [35]:
a * b / c

2.5

In [36]:
x = "안산대학교"

In [37]:
x

'안산대학교'

In [38]:
s = "학생"

In [39]:
s

'학생'

In [40]:
x + s

'안산대학교학생'

In [ ]:
-3. 라이브러리(Library)를 별칭으로 불러오기

In [42]:
import numpy

ModuleNotFoundError: No module named 'numpy'

In [43]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.3.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.3.3-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   --------------------------- ------------ 8.7/12.8 MB 41.3 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 43.5 MB/s  0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.3.3

In [47]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\haim\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\haim\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\haim\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------  10.7/11.0 MB 59.2 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 54.8 MB/s  0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [126]:
import numpy as np

In [127]:
import pandas as p

In [ ]:
-4. 데이터(문자형 또는 정수형)를 리스트(list) 형식으로 코딩하기

In [49]:
crime = ["살인", "강도", "절도"]

In [50]:
crime

['살인', '강도', '절도']

In [51]:
crime[0]

'살인'

In [52]:
crime[2]

'절도'

In [53]:
crime.append("사기")

In [55]:
crime

['살인', '강도', '절도', '사기']

In [56]:
crime[3]

'사기'

In [57]:
del crime[2]

In [58]:
crime

['살인', '강도', '사기']

In [59]:
num1 = ['one', 'two', 'three', 'four']
num2 = ['siz', 'seven', 'eight', 'nine']
num2.extend(num1)

In [60]:
print(num2)

['siz', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [61]:
num1.extend(num2)

In [62]:
print(num1)

['one', 'two', 'three', 'four', 'siz', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [64]:
num = ['one', 'two', 'three', 'four']
num.sort()
print(num)

['four', 'one', 'three', 'two']

In [66]:
num = ['one', 'two', 'three', 'four']
newnum = sorted(num)
print(newnum)
print(num)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [67]:
num = [1,2,3,4]
num.sort(reverse=True)
print(num)

[4, 3, 2, 1]

In [68]:
len(num)

4

In [69]:
result = sum(num)
print(result)

10

In [ ]:
-5. 리스트 데이터의 평균 (mean)값을 코딩하기

In [70]:
num = [100, 200, 300, 400, 500, 600, 700]
np.mean(num)

np.float64(400.0)

In [71]:
num1 = [100232, 231, 24445, 221, 123, 23, 1123]
np.mean(num1)

np.float64(18056.85714285714)

In [ ]:
-6. 데이터(문자형) 튜플 (tuple) 형식으로 코딩하기

In [80]:
crime8 = ("살인", "강도", "절도", "학교")
crime8

('살인', '강도', '절도', '학교')

In [81]:
type(crime8)

tuple

In [84]:
print(crime8[0])

살인

In [85]:
print(crime8[1:])

('강도', '절도', '학교')

In [ ]:
-7. 데이터를 딕셔너리(dictionary) 형식으로 코딩하기

In [86]:
crime6 = { '살인':54100, '강도': 55000, '절도': 56200, '사기': 56900, '도박': 57000}

In [87]:
type(crime6)

dict

In [88]:
crime6

{'살인': 54100, '강도': 55000, '절도': 56200, '사기': 56900, '도박': 57000}

In [90]:
crime6["강도"]

55000

In [91]:
len(crime6)

5

In [92]:
score ={}

In [93]:
type(score)

dict

In [94]:
score["경찰청"] = 100

In [95]:
score

{'경찰청': 100}

In [96]:
del score["경찰청"]

In [97]:
score

{}

In [98]:
crime6['마약'] = 51000

In [99]:
crime6

{'살인': 54100, '강도': 55000, '절도': 56200, '사기': 56900, '도박': 57000, '마약': 51000}

In [101]:
crime6.keys()

dict_keys(['살인', '강도', '절도', '사기', '도박', '마약'])

In [102]:
crime6.values()

dict_values([54100, 55000, 56200, 56900, 57000, 51000])

In [ ]:
-8. 조건문 작성하기

In [107]:
살인 = 20
if 살인 >= 10:
    print("코드제로")

코드제로

In [108]:
살인 = 5
if 살인 <= 10:
    print("BLUE")
else:
    print("코드제로")

BLUE

In [109]:
살인 = 15
if 살인 <= 10:
    print("BLUE")
else:
    print("코드제로")

코드제로

In [111]:
살인 = 5
if 살인 <= 10:
    print("BLUE")
elif 살인 >= 20:
    print("코드제로")
else:
    print("출동대기")

BLUE

In [113]:
살인 = 25
if 살인 <= 10:
    print("BLUE")
elif 살인 >= 20:
    print("코드제로")
else:
    print("출동대기")

코드제로

In [114]:
살인 = 15
if 살인 <= 10:
    print("BLUE")
elif 살인 >= 20:
    print("코드제로")
else:
    print("출동대기")

출동대기

In [118]:
살인 = 10
폭력 = 100
if 살인 <= 10 and 폭력 <= 200:
    print("BLUE")
elif 살인 >= 20 and 폭력 >= 400:
    print("코드제로")
else:
    print("출동대기")

BLUE

In [122]:
살인 = 30
폭력 = 300
if 살인 <= 10 or 폭력 <= 200:
    print("blue")
elif 살인 >= 20 or 폭력 >= 400:
    print("코드제로")
else: 
    print("출동대기")

코드제로

In [ ]:
-9. pandas 를 이용하여 DataFrame을 ‘df'로 생성하기

In [131]:
income_list = pd.Series([45652, 26392, 46405], index=["남성","남성","여성"])
income_list

남성    45652
남성    26392
여성    46405
dtype: int64

In [132]:
income_list.index.name = "성별","총소득"

In [133]:
income_list

(성별, 총소득)
남성    45652
남성    26392
여성    46405
dtype: int64

In [135]:
df = pd.DataFrame(income_list)

In [137]:
df

               0
(성별, 총소득)
남성         45652
남성         26392
여성         46405

In [140]:
from pandas import DataFrame

In [141]:
from datetime import datetime, timedelta
import random

In [143]:
crime = [{"살인":10, "강도":55, "절도":150},
         {"살인":5, "강도":65, "절도":200},
         {"살인":20, "강도":40, "절도":350}]

police = ["서울경찰청", "부산경찰청", "인천경찰청"]

df = DataFrame(data = crime, index = police)
print(df)

       살인  강도   절도
서울경찰청  10  55  150
부산경찰청   5  65  200
인천경찰청  20  40  350

In [144]:
df.describe()

              살인         강도          절도
count   3.000000   3.000000    3.000000
mean   11.666667  53.333333  233.333333
std     7.637626  12.583057  104.083300
min     5.000000  40.000000  150.000000
25%     7.500000  47.500000  175.000000
50%    10.000000  55.000000  200.000000
75%    15.000000  60.000000  275.000000
max    20.000000  65.000000  350.000000